html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-size: .9em;
    font-family: Lato, sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    background: #ECECEB;
}

#root {
    height: 100%;
    overflow: auto;
}